.vscode/launch.json
.vscode/c_cpp_properties.json
trab2/a.exe
trab2/.vscode/c_cpp_properties.json
trab2/.vscode/launch.json
trab3/a.out
trab3/.vscode/settings.json
trab3/log_file_1.txt
trab3/log_file_2.txt
trab3/log_file_3.txt
trab3/log_file_4.txt
